.manual-data-quality{

  background-color: #df972b;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-left: 1px solid #878787;  /* Borde izquierdo de 1px */
  border-right: 1px solid #878787; /* Borde derecho de 1px */
  border-top: 1px solid #878787;   /* Borde superior de 1px */
  border-bottom: 3px solid #878787;/* Borde inferior de 3px */
  padding: 10px 25px;
  position: relative;

}

.manual-data-quality:hover {
  cursor: pointer;
  color: #ffee00; /* Cambiar el color del ícono al pasar el ratón */
}

.manual-data-row-value{
  text-align: center;
  border-right:1px solid #878787;
  border-left:1px solid #878787;
  border-top:1px solid #a5a5a5;
  border-bottom:1px solid #a5a5a5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.manual-data-table{
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  border-collapse: collapse;
}
.manual-data-row:nth-child(even) {
  background-color: #e3e3e3;
}
.manual-data-row{
  background-color: #d5d5d5;
}
.sort-icon {
  width: 12px;
  font-size: 12px;
  display: none; /* Ocultos por defecto */
}
.sort-icon.active {
  display: inline;
  color: #ffee00 /* Muestra el ícono activo */
}
.sorted-column {
  color: #ffee00; /* Color del icono cuando la columna está ordenada */
}
