.manual-data-container {
    border-radius: 10px;
    padding: 10px;
    flex-direction:column;
  }

  .data-table {
    width: 100%;
    border-collapse: collapse;
  }

  .data-table tr.odd {
    background-color: #f2f2f2;
  }

  .data-table tr.even {
    background-color: #ffffff;
  }

  .data-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
.manual-data-table-container{
  display:flex;
  justify-content: center;
}
.toggle-button{
    margin-top:1%;
    margin-bottom:1%;
    background-color: #A9A9A9;
    color: white; /* Color del texto */
    padding: 15px 30px; /* Tamaño del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados opcionales */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Sombra del botón */
    transition: all 0.3s ease; /* Transición suave para los efectos */
    display:block;
}
.toggle-button:hover:enabled {
  background-color: #8f8f8f; /* Color de fondo al pasar el ratón */
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5); /* Sombra más profunda */
}
.toggle-button:active {
  background-color: #7f7f7f; /* Color de fondo al hacer clic */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más cercana */
  transform: translateY(2px); /* Simulación de movimiento hacia abajo */
}
.manual-data-buttons-container{
  display: flex;
  justify-content: space-evenly;
}

.toggle-button:disabled {
  background-color: grey;
  color: lightgray;
  cursor: not-allowed;
}
