<div class="manual-data-container">
  <div class="manual-data-buttons-container">
    <button class="toggle-button" (click)="togglePlayers()"> {{ isDataVisible ? 'Ocultar información' : 'Cargar jugadores' }}</button>
    <button class="toggle-button" (click)="navigateAddPlayer()"> Añadir jugador </button>
    <button class="toggle-button" (click)="isDataVisible && toggleDeleteMode()" [disabled]="!isDataVisible"> {{ isDeleteMode ? 'Finalizar borrado' : 'Borrar jugadores' }} </button>
  </div>
  <hr *ngIf="isDataVisible"/>
  <div class="manual-data-table-container" *ngIf="isDataVisible">
    <app-player-list *ngIf="!isDeleteMode" [entityList]="players"></app-player-list>
    <app-delete-player *ngIf="isDeleteMode" [entityList]="players" (playerDeleted)="onPlayerDeleted()"></app-delete-player>
  </div>
</div>


