<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Players</title>
</head>
<body>
<h1>Players</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Nota</th>
        <th>Club</th>
        <th>Posición</th>
        <th>Qualities</th>
        <th>Most Liked Destination</th>
        <th>Likeable</th>
        <th>Date</th>
    </tr>
    <tr th:each="player : ${players}">
        <td th:text="${player.nombre}">Nombre</td>
        <td th:text="${player.nota}">Nota</td>
        <td th:text="${player.club}">Club</td>
        <td th:text="${player.posicion}">Posición</td>
        <td th:text="${player.qualities}">Qualities</td>
        <td th:text="${player.mostLikeDestination}">Most Liked Destination</td>
        <td th:text="${player.likeable}">Likeable</td>
        <td th:text="${player.date}">Date</td>
    </tr>
</table>
</body>
</html>